.disc {
    width: 500px;
    height: 500px;
    background-color: #101010;
    border-radius: 50%;
    position: relative;
}

.lable {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 150Px;
    width: 150px;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.lable img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.hole {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20Px;
    width: 20px;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 50%;

}

.line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid #292929;
}

.line-1 {
    height: 450px;
    width: 450px;
}

.line-2 {
    height: 400px;
    width: 400px;
}

.line-3 {
    height: 310px;
    width: 310px;
}

.line-4 {
    height: 240px;
    width: 240px;

}

.disc audio {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
}